/* 对应 Vue VPNavMenuGroup.vue <style scoped> —— 字面量类名统一 :global */
:global(.VPNavScreenMenuGroup) {
  border-bottom: 1px solid var(--vp-c-divider);
  transition: border-color 0.5s;
}

:global(.VPNavScreenMenuGroup.open) {
  padding-bottom: 0.625rem;
}

:global(.VPNavScreenMenuGroup.open .button) {
  padding-bottom: 0.375rem;
  color: var(--vp-c-brand-1);
}

:global(.VPNavScreenMenuGroup.open .button-icon) {
  /*rtl:ignore*/
  transform: rotate(45deg);
}

:global(.VPNavScreenMenuGroup .button) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.25rem 0.6875rem 0;
  width: 100%;
  line-height: 1.7142857;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--vp-c-text-1);
  transition: color 0.25s;
}

:global(.VPNavScreenMenuGroup .button:hover),
:global(.VPNavScreenMenuGroup.active .button) {
  color: var(--vp-c-brand-1);
}

:global(.VPNavScreenMenuGroup .button-icon) {
  transition: transform 0.25s;
}

:global(.VPNavScreenMenuGroup .items .VPMenuGroup) {
  padding-top: 0.25rem;
}
