.menu {
  border-radius: 0.75rem;
  padding: 0.75rem;
  min-width: 8rem;
  border: 1px solid var(--vp-c-divider);
  background-color: var(--vp-c-bg-elv);
  box-shadow: var(--vp-shadow-3);
  transition: background-color 0.5s;
  max-height: calc(100vh - var(--vp-nav-height));
  overflow-y: auto;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}
