/* 对应 Vue VPSidebarGroup.vue <style scoped> */
.noTransition :global(.caret-icon) {
  transition: none;
}

.group + .group {
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 0.625rem;
}

@media (min-width: 60rem) {
  .group {
    padding-top: 0.625rem;
    width: calc(var(--vp-sidebar-width) - 4rem);
  }
}
